<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Projects_IntelliJ/AutomationtestMFS">
        <classes>
            <class name="Journeys.Loginpage">
                <methods>
                    <include name="Testscenario_1"/>
                </methods>
            </class>
            <class name="Journeys.Navigationmenu">
                <methods>
                    <include name="TestScenario_3"/>
                </methods>
            </class>
            <class name="Journeys.Pricelowtohigh">
                <methods>
                    <include name="Testscenario_2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>